@media (max-width: 768px) {

    .k-header h1 {
        margin: 0;
        padding: 16px 15px 14px 60px;
        font-size: 18px;
        font-weight: lighter;
    }


    .k-rpanel {
        position: relative;
        box-sizing: border-box;
    }
    .k-rpanel .k-menu {
        float: none;
        display: block;
        box-sizing: border-box;
    }
    .k-rpanel .k-menu .k-item {
        display: block;
        clear: both;
        float: none;
        width: 100%;
    }
}